body{
    max-height: 100vh;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Nav bar */
.nav{
    background-color: black;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    height: 30px 
}
.hero{
    background-image: url("https://4kwallpapers.com/images/wallpapers/fluidic-glossy-gradient-background-blue-background-2560x1440-7651.jpg");
    background-size: cover;
    text-align: center;
    height: 180px;
}
.main-section{
    text-align: center;
    height: 100%;
}
.footer{
    text-align: center;
    height: 80px; 
}
/* Nav bar button group */
.nav-buttons-group{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline-block;
    color: white;
}
.footer{
    background-color: lightgray;
}