body{
    max-height: 100vh;
}

.up-section{
    border: 1px black solid;
    text-align: center;
    height: 50px;
}
/* Nav bar */
.nav{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    height: 30px 
}
.hero{
    border: 1px black solid;
    text-align: center;
    height: 180px;
}
.main-section{
    border: 1px black solid;
    text-align: center;
    height: 110px; 
}
.footer{
    border: 1px black solid;
    text-align: center;
    height: 80px; 
}
/* Nav bar button group */
.nav-buttons-group{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
li{
    display: inline-block;
}